@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Pixelify+Sans:wght@400;500;600;700&display=swap");

body {
    margin: 0;
    padding: 1em;
    background-color:darkcyan;
}

.container {
    display: flex;
    justify-content: center;
}

.container-descripcion {
    display: flex;
    justify-content: center;
}



h1 {
    font-family: "Pixelify Sans", cursive;
    text-align: center;
    font-size: 5em;
    color:white
}

p {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color:white
}

.lista-de-productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    justify-content: center;

}

.galeria {
    max-width:500em;
    padding: 1em;
    justify-content: center;

}

.galeria > img {
    width: 100%;
    height: 250px;
}

.precio {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
}

.galeria button {
    font-size: 25px;
    font-family: "Pixelify Sans", cursive;
    text-align: center;
    border-radius: 1rem;
    padding: 12px;
    color:darkcyan;
    background-color:white;
    cursor: pointer;
    width: 100%;
}

.descripcion {
    color: rgb(255, 255, 255);
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
}


.galeria2 {
    margin: 0%;
    display: block;
    justify-content: center;
    
    
}

.imagen {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: center;
}

.imagenProducto {
    display: flex;
    border-radius: 1rem;
    justify-content: center;
    max-width: max-content;
}

.descripcionLarga {
    display: block;
    padding: 1em;
    color: white;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
}

.precio2 {
    margin: 0%;
    display: block;
    color: rgb(255, 255, 255);
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.inicio{
    border-radius: 1rem;
    padding: 10px;
    font-family: "Pixelify Sans", cursive;
    color:darkcyan;
    background-color:white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

.boton-inicio {
    display: flex;
    justify-content: center;
    padding: 1em;
}

@media screen and (min-width: 360px) {
    .imagenProducto {
        display: flex;
        border-radius: 1rem;
        justify-content: center;
        width: 100%;
    }
}

