@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Pixelify+Sans:wght@400;500;600;700&display=swap");

body {
  padding: 1em;
}

.container {
  display: flex;
  background-color: blue;
  justify-content: center;
}

.container-descripcion {
  background-color: aqua;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Pixelify Sans", cursive;
  text-align: center;
  font-size: 5em;
}

p {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

main {
  display: block;
  background-color: darkcyan;
  padding: 10em;
}

.container-main {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
